# Gunshot in US

In [11]:
import csv

data_with_header = list(csv.reader(open('guns.csv')))
headers = data_with_header[0]
data = data_with_header[1:]
print(data_with_header[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [14]:
print(headers)

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

In [16]:
print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [17]:
years = [row[1] for row in data]

In [20]:
years[:5]

['2012', '2012', '2012', '2012', '2012']

In [21]:
year_count = {}

for row in data:
    if row[1] not in year_count:
        year_count[row[1]] = 1
    if row[1] in year_count:
        year_count[row[1]] += 1

In [22]:
year_count

{'2012': 33564, '2013': 33637, '2014': 33600}

In [39]:
import datetime

dates = [datetime.datetime(year=int(row[1]), 
                           month=int(row[2]),
                          day=1) for row in data] #day is a fixed day

In [40]:
dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [41]:
dates_count = {}

for row in dates:
    if row not in dates_count:
        dates_count[row] = 1
    if row in dates_count:
        dates_count[row] += 1

In [43]:
dates_count

{datetime.datetime(2012, 1, 1, 0, 0): 2759,
 datetime.datetime(2012, 2, 1, 0, 0): 2358,
 datetime.datetime(2012, 3, 1, 0, 0): 2744,
 datetime.datetime(2012, 4, 1, 0, 0): 2796,
 datetime.datetime(2012, 5, 1, 0, 0): 3000,
 datetime.datetime(2012, 6, 1, 0, 0): 2827,
 datetime.datetime(2012, 7, 1, 0, 0): 3027,
 datetime.datetime(2012, 8, 1, 0, 0): 2955,
 datetime.datetime(2012, 9, 1, 0, 0): 2853,
 datetime.datetime(2012, 10, 1, 0, 0): 2734,
 datetime.datetime(2012, 11, 1, 0, 0): 2730,
 datetime.datetime(2012, 12, 1, 0, 0): 2792,
 datetime.datetime(2013, 1, 1, 0, 0): 2865,
 datetime.datetime(2013, 2, 1, 0, 0): 2376,
 datetime.datetime(2013, 3, 1, 0, 0): 2863,
 datetime.datetime(2013, 4, 1, 0, 0): 2799,
 datetime.datetime(2013, 5, 1, 0, 0): 2807,
 datetime.datetime(2013, 6, 1, 0, 0): 2921,
 datetime.datetime(2013, 7, 1, 0, 0): 3080,
 datetime.datetime(2013, 8, 1, 0, 0): 2860,
 datetime.datetime(2013, 9, 1, 0, 0): 2743,
 datetime.datetime(2013, 10, 1, 0, 0): 2809,
 datetime.datetime(2013, 11, 1, 0, 0): 2759,
 datetime.datetime(2013, 12, 1, 0, 0): 2766,
 datetime.datetime(2014, 1, 1, 0, 0): 2652,
 datetime.datetime(2014, 2, 1, 0, 0): 2362,
 datetime.datetime(2014, 3, 1, 0, 0): 2685,
 datetime.datetime(2014, 4, 1, 0, 0): 2863,
 datetime.datetime(2014, 5, 1, 0, 0): 2865,
 datetime.datetime(2014, 6, 1, 0, 0): 2932,
 datetime.datetime(2014, 7, 1, 0, 0): 2885,
 datetime.datetime(2014, 8, 1, 0, 0): 2971,
 datetime.datetime(2014, 9, 1, 0, 0): 2915,
 datetime.datetime(2014, 10, 1, 0, 0): 2866,
 datetime.datetime(2014, 11, 1, 0, 0): 2757,
 datetime.datetime(2014, 12, 1, 0, 0): 2858}

In [49]:
def count(thing_to_count):
    row_count = {}
    for row in data:
        if row[thing_to_count] not in row_count:
            row_count[row[thing_to_count]] = 1
        if row[thing_to_count] in row_count:
            row_count[row[1]] += 1
    return row_count

In [50]:
sex_counts = count(5)
race_counts = count(7)

In [51]:
sex_counts

{}